<template>
    <div>
        <div class="input-group mb-3 w-50">
            <span class="input-group-text">Distance</span>
            <input type="number" v-model="distance" class="form-control">
        </div>

        <div class="input-group mb-3 w-50">
            <span class="input-group-text">Weight</span>
            <input type="number" v-model="weight" class="form-control">
        </div>

        <label class="form-label">Select delivery</label>
        <select class="form-select mb-3" v-model="selectedDeliver" aria-label="Default select example">
            <option disabled>Choose who you like</option>
            <template v-for="(deliver, key) in allDelivers">
                <option :value="key">{{ deliver }}</option>
            </template>
        </select>

        <button :disabled="!isDisabled" type="submit" @click.prevent="calculatePrice" class="btn btn-primary mb-3">
            Calculate Price
        </button>

        <div v-if="totalPrice && selectedDeliver" class="d-flex gap-4">
            <div>
                <h4 class="">Price will be: {{ totalPrice }}
                    <i class="bi bi-currency-euro"></i>
                </h4>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "MainPageComponent",

    data() {
        return {
            distance: null,
            weight: null,
            allDelivers: null,
            selectedDeliver: null,
            totalPrice: null,
        }
    },

    mounted() {
        this.getDeliveryCompanies()
    },

    methods: {
        getDeliveryCompanies() {
            axios.get('/api/v1/get/delivers')
                .then(res => {
                    this.allDelivers = res.data.deliveryCompanies;
                })
        },

        calculatePrice() {
            axios.post('/api/v1/calculate/cost', {
                distance: this.distance,
                weight: this.weight,
                deliver: this.selectedDeliver,
            })
                .then(res => {
                    this.totalPrice = res.data.totalPrice;
                })
        },


    },

    computed: {
        isDisabled() {
            return this.distance && this.weight && this.selectedDeliver;
        }
    }

}
</script>

<style scoped>
i {
    font-size: 2rem;
    color: gold;
}
</style>
